.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: center;
}
#listContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navItem {
  display: inline;
  margin: 4vh;
}
.linkText {
  font-size: 24px;
  color: rgb(255, 175, 175);
  font-weight: bold;
}
.linkText:hover {
  color: black;
}
#shoppingCart {
  width: 30px;
}
