.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: center;
}
#listContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navItem {
  display: inline;
  margin: 4vh;
}
.linkText {
  font-size: 24px;
  color: green;
  font-weight: bold;
}
